.sdm_fancy4_flex_container
{
    display:flex;
    flex-direction: column;
}

.sdm_fancy4_flexline_container
{
    display:flex;
    flex-wrap:nowrap; /* par défaut */
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e7e9eb;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    margin: 5px 0px 5px 0px;
    padding:0px;
}

.sdm_fancy4_flex_item
{
 padding:0px;
}

.sdm_fancy4_flex_item:nth-child(1){ padding: inherit; flex-grow: 0; flex-shrink: 0;}
.sdm_fancy4_flex_item:nth-child(2){ flex-grow: 0;}
.sdm_fancy4_flex_item:nth-child(3){ width: 170px; flex-shrink: 0; flex-grow: 0;}

.sdm_fancy4_flex_item>img{
    height: 75px;
}
/*24px*/
.sdm_fancy4_download_title {
    float:left;
    font-size: var(--global--font-size-lg);
    font-weight: bold;
    line-height: normal;
}

/*
	--global--font-size-base: 1.25rem;
	--global--font-size-xs: 1rem;
	--global--font-size-sm: 1.125rem;
	--global--font-size-md: 1.25rem;
	--global--font-size-lg: 1.5rem;
	--global--font-size-xl: 2.25rem;
	--global--font-size-xxl: 3rem;
	--global--font-size-xxxl: 5rem;
.sdm_fancy4_download_button{
    display: inline-block;
}*/
.sdm_fancy4_flex_item:nth-child(3)>a{
    border: 3px solid #2D3140;    
    color: #2D3140;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none !important;
    text-align: center;
}
.sdm_fancy4_flex_item:nth-child(3)>a:hover{
    color: #FFF;
    background-color: #2D3140;
}
/* 1024 822 652 481*/
@media only screen and (max-width : 1023px)
{
    .sdm_fancy4_download_title {
        font-size: var(--global--font-size-base);
    }
}

@media only screen and (max-width : 651px)
{
    .sdm_fancy4_flexline_container
    {
        flex-direction: column;
    }
    .sdm_fancy4_flex_item>img{
        height: 100px;
    }
    .sdm_download_thumbnail_image {        
        height: 100px !important;
        width: 100px !important;
    }
    .sdm_fancy4_flex_item:nth-child(3){ width:auto; flex-grow: 1; flex-shrink: 0;}
    .sdm_fancy4_download_title {
        font-size: var(--global--font-size-xs);
	}
}
/*** For smaller devices ***/
@media only screen and (max-width : 481px)
{
    /* .sdm_fancy4_flex_item:nth-child(3){ width:auto; flex-grow: 1; flex-shrink: 0;} */
    .sdm_fancy4_item{     
        margin: 5px 10px 5px 0;
        border: 1px solid #BBBEC9;
        float: left;
        width: 95%;
    }    

	.sdm_fancy4_download_title {
		font-size: 14px;
	}
}
/* ############### 

.sdm_fancy4_item{     
    margin: 5px 10px 5px 0;
    border: 1px solid #BBBEC9;
    float: left;
    width: 220px;    
}
.sdm_fancy4_grid{
    width: 30%;
}

.sdm_fancy4_wrapper{
    margin: 15px;
}

.sdm_fancy4_download_thumbnail {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.sdm_fancy4_download_title{
    font-family: Bitter, Georgia, serif;
    margin: 10px 0;
    text-align: center;
}

.sdm_fancy4_download_title a{
    text-decoration: none !important;
    border: none;
    margin: 0;
    padding: 0;
}

.sdm_fancy4_download_thumbnail img{
    max-width: 100%;
}

.sdm_fancy4_download_link{
    text-align: center;
}
*/

.sdm_fancy4_download_size{
    margin: 5px 0;
    text-align: center;
}
.sdm_fancy4_download_version{
    margin: 5px 0;
    text-align: center;
}

.sdm_fancy4_item .sdm-g-recaptcha{
    transform:scale(0.60);
    transform-origin:0 0;
}

